<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>Money Monsters Learn</title>
   <link rel="stylesheet" href="/style.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
 </head>
<div class="singleLearn">
    <div class="container">
      <header class="learn-each-header">
        <div class="back-button">
          <a href="/learn">
            <i class="fas fa-arrow-left"></i> Back
          </a>
        </div>
        <%- include('../partials/header') %>
      </header>
<main>
    <article>
        <h5><%= blog.category %></h5>
        <h1><%= blog.title %></h1>
        <!-- <% if (blog.image) { %>
          <img src="<%= blog.image %>" alt="<%= blog.title %>">
        <% } %> -->
        <%- blog.content.split('\n\n').map(paragraph => `<p>${paragraph}</p>`).join('') %>
      </article>
</main>
<footer>
    <%- include('../partials/bottomNav') %>
  </footer>
        </div>
        </div>
