<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Money Monsters Learn</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body> 
<div class="singleLearn">
  <div class="container">
    <header class="learn-each-header">
      <%- include('../partials/header') %>
    </header>

    <main>
        <article>
          <h5><%= blog.category %></h5>
          <h1><%= blog.title %></h1>
          <%- blog.content.split(/\n+/).filter(p => p.trim()).map(paragraph => 
            `<p>${paragraph.trim()}</p>`).join('') %>
        </article>

        <% if (progress.status === 'completed') { %>
          <div class="completed-message">
            <div class="alert alert-success">
              <i class="fas fa-check-circle"></i> Completed!
              <% if(blog.reward > 0) { %>
                <p>Reward of $<%= blog.reward.toFixed(2) %> has been added to your balance.</p>
              <% } %>
            </div>
            
            <% if (progress.reflection && progress.reflection.trim() !== '') { %>
              <div class="reflection-container">
                <h3>Reflection</h3>
                <div class="reflection-content">
                  <p><%= progress.reflection %></p>
                </div>
              </div>
            <% } %>
          </div>
        <% } else if (user.accountType === 'child' && !viewingAsChild) { %>
          <button data-modal-target="whatLearnedModal" class="completeBtn">
            <i class="fas fa-check-circle"></i> Mark as Complete
          </button>
        <% } %>

        <%- include('../partials/modals/whatLearned') %>
    </main>

    <footer>
      <%- include('../partials/bottomNav') %>
    </footer>
    
    <script src="/dynamic/modalPopUp.js"></script>
  </div>
</div>
</body>
</html>